/* styling for map-container */
body {
    margin: 0;
    padding: 0;
}

#map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* styling for popup */
.mapboxgl-popup {
    max-width: 400px;
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
}

/* styling for sidebar */
#sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 300px;
    background: #ececec;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 2px rgb(116 116 116)
    -moz-box-shadow: 0px 0px 2px 2px rgb(116 116 116)
    box-shadow: 0px 0px 2px 2px rgb(116 116 116)
}

#sidebar h1 {
    font-size: 24px
}

#sidebar p {
    font-size: 14px;
}

